* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    color: white;
}

.hero {
    display:flex;
}

.left-sidebar {
    width: 220px;    
}

.left-sidebar img {
    width: 230px;
    padding-bottom: 5px;
}

#insta-logo {
    padding-top: 10px;
    padding-bottom: 30px;
    width: 250px;
}

.bottom-menu {
    padding-top: 40px;
}

.right {
    width: calc(100% - 220px);
    display: flex;
    justify-content: space-around;
}

.middle-div {
    width: 630px;
}

.stories {
    width: 630px;
    padding-top: 10px;
    display: flex;
}

.stories img {
    height: 69px;
    border-radius: 50%;
}

.one p {
    padding-left: 13px;
}

.profile {
    display: flex;
    padding-top: 30px;
}

.profile p {
    padding-top: 4px;
    padding-left: 3px;
}

.profile img {
    border-radius: 50%;
    height: 46px;
    padding-left: 151px;
}

.post {
    display: flex;
    justify-content: center;
    text-align: center;
}

.post img {
    height: 585px;
    width: 449px;
    border-radius: 8px;
}

.suggetions {
    width: 319px;
    background-color: green;
}