@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background-color: #0D1117;
    color: #9FB1D1;
    font-size: 18px;
    font-family: "Open Sans";
}
header {
    display: flex;
}
header span {
    display: flex;
    gap: 30px;
    margin: 0px 200px 0px 200px;
}

#doc{
    background-color: transparent;
    height: 30px;
    width: 140px;
    margin-right: 40px;
    border-radius: 10px;
    color: white;
    border:  none;
    

}
#Download {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: blue;
    color: white;   
    border: none;
}
.btn {
    margin-top: 10px;

}

nav {
    font-size: 15px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

#bigTxt {
    font-size:  90px;
    width: 790px;
    margin-left: 380px;
    color: white;
    margin-top: 46px;
    margin-bottom: 0px;
}

.btns {
    height:50px;
    width: 250px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    border: none;
}

#hero-download-btn{
    background-color: blue;
    margin-right: 30px;
    margin-bottom: 50px;
}

#hero-get-btn {
    color: white;
    background-color: transparent;
    border: 1px grey solid;
}

.hero {
    position: relative;
}
.hero img {
    position: absolute;
    margin-left: 100px;
    border-radius: 30px;
}

.hero video {
    position: absolute;
    margin-top: 80px;
    margin-left: 190px;
    border-radius: 10px;
}

