@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "inter";
}

header {
    height: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.11) ;
    color: rgba(0, 0, 0, 0);
}

header a {
    text-decoration: none;
    font-size: 15px;
}

header img {
    width: 137px;
    height: 18px;
    padding-top: 8px;

}

header span {
    display: flex;
    gap: 50px;
    padding-top: 8px;

}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.hero img {
    width: 786px;
}

.down-hero {
    text-align: center;
    margin-top: 60px;
}

.down-hero h1 {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.785);
    font-weight: 400;
}

.down-hero p {
    font-size: 20px;
}

.down-hero button {
    color: white;
    font-size: 20px;
    background-color: rgba(0, 0, 255, 0.676);
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 3px;
}

.eco {
    display: flex;
    margin-top: 160px;
    justify-content: space-evenly;
}

.ecosystem-text {
    width: 420px;
    color: rgba(0, 0, 0, 0.539);
}

.ecosystem-text h1 {
    color: black;
    font-weight: 500;
}

.ecosystem-text h2 {
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.941);
}

.ecosystem img {
    width: 620px;
}